.grid-container
{
  display: grid;
  grid-template-columns: repeat(12,60px);
  grid-template-rows: repeat(12,60px);

  width: 720px;
  
}
.grid-container-container
{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}



.grid-container > *:hover
{
  

  background-color: #8C8C8C !important;

}
.ejeee
{
  font-family: 'Nunito', 'Helvetica Neue', sans-serif;
  margin-left: 60px;
}